.pre {
  margin: 0;
  white-space: pre-wrap;
}

.inline-link {
  border-radius: 4px;
}
.inline-link:hover {
  --bg-color: var(--palette-black-alpha-6, rgba(0, 0, 0, 0.06));
  background: var(--bg-color);
  box-shadow: 3px 0 var(--bg-color), -3px 0 var(--bg-color);
}
