.pin-btn {
  width: fit-content;
  padding: 8px !important;
}

:global(.project-card):not(:focus-within):not(:hover) .pin-btn,
:global(.navigation-element.navigation-link):not(:focus-within):not(:hover)
  .pin-btn {
  visibility: hidden;
}
