.button {
  font-family: "Segoe UI", "-apple-system", BlinkMacSystemFont, Roboto,
    "Helvetica Neue", Helvetica, Ubuntu, Arial, sans-serif, "Apple Color Emoji",
    "Segoe UI Emoji", "Segoe UI Symbol";
}

.button {
  margin-top: 2px;
  margin-bottom: 2px;
}

:global(.bolt-split-button .bolt-split-button-option).button-left {
  border-top-left-radius: 2px;
  border-bottom-left-radius: 2px;
}
